body {
background-color: white;
padding: 0;
margin: 0;
font-family: 'Manrope', sans-serif;
}

.dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF9800; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border-radius: 10px;
  border: 1px solid #03A9F4;
  box-shadow: 10px 8px #f2f2f2;
  width: 30%;
  margin: 20px 1.33%;
}

.card header {
  vertical-align: middle;
}

.product_title {
  border: 1px solid #03A9F4;
  border-radius: 10px;
  min-height: 8em;
}

.overview img, p {
  padding: 10px;
  text-align: justify;
}

.overview h5 {
  padding: 10px; 
  color: #FF9800;
}

.overview p {
  min-height: 8em;
  vertical-align: center;
}

.card h2 {
  text-align: center;
  padding: 10px;
}

.overview img {
  display: block;
  max-height: 100%;
  max-width: 90%;
  margin: 10px auto 10px auto;
  border: 1px solid #BDBDBD;
  padding: 0;
}

.specs, .pricing {
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.1em;
}

.specs h4 {
  line-height: 1.45;
}

.specs header {
  margin: 0;
  padding: 0;
}

.specs footer {
  font-weight: normal;
}
